/* header */
.navbar{
    overflow: hidden;
    z-index: 22;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    background-color: var(--text-color-dark);
    border-bottom-style: solid;
    border-color: var(--text-color-relevant);
    border-width: 2px;
}
.navbar ul {
    height: 50px;
    width: 95%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar li{
    margin-top: 15px;
}
.navbar a{
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: var(--texte-size-md);
    color: var(--background-color-medium);
}
.navbar a:hover{
    font-size: var(--texte-size-md);
    color: var(--text-color-relevant);
    transition: 0.5s;
}
#burger_close{
    font-size: 2em;
    display: none;
}
#burger_open{
     font-size: 2em;
     display: none;
 }

@media only screen and (max-width:580px) {

    #burger_close{
        display: block;
    }
    #burger_open:target {
        display: block;
    }
    #burger_open:target < #navbar {
        width: 100%;
        opacity: 1;
        height: 200px;
        transition: 0.5s;
    }

    #burger_open:target < #burger_close {
        display: none;
    }

    #burger_close:target {
        display: block;
    }
    #burger_close:target < #navbar{
        width: 100%;
        opacity: 1;
        height: 50px;
        transition: 0.5s;
    }
    #burger_close:target < #burger_open {
                               display: none;
                            }
    .navbar ul{
        width: 100%;
        opacity: 1;
        height: 200px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .navbar li{
        margin-top: 0;
    }

}