@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Infant|Open+Sans+Condensed:300|Special+Elite&display=swap');

/*
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'Cormorant Infant', serif;
*/

@import 'navbar.css';
@import 'aboutMe.css';
@import 'competences.css';
@import 'experiences.css';
@import 'contact.css';
@import 'footer.css';
@import 'chapter.css';

:root {
    --background-color-light:#f3f4f5;
    --background-color-medium:#e6e7e8;
    --background-color-dark:#25282a; /*#727374;*/
    --background-color-relevant:#c88200;
    --background-color-relevant2:#8b0000;
    --text-color-light:#ecedee;
    --text-color-medium:#e6e7e8;
    --text-color-dark:#25282a;
    --text-color-relevant:#c88200;
    --text-color-relevant2:#8b0000;
    --texte-size-sm:16px;
    --texte-size-md:24px;
    --texte-size-xl:32px;
    --texte-size-xxl:48px;
    --marge-sm:8px;
    --marge-md:calc( var(--marge-sm) * 2);
    --marge-xl:calc( var(--marge-sm) * 3);
    --marge-xxl:calc( var(--marge-sm) * 4);
}

/*general*/

*{
    margin: 0;
    font-family: 'Cormorant Infant', serif;
}
html{
    background-color: var(--background-color-light);
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}
body{
    font-family: 'Cinzel', serif;
    font-size: var(--texte-size-md);
}
.radius{
    border-radius: 2px;
}
a{
    text-decoration: none;
    color: var(--text-color-dark);
}
a:hover{
    color: var(--text-color-relevant);
    transition: 0.5s;
}
section{
    position: relative;
    width: 100%;
}
H1, H2{
    font-family: 'Cinzel', serif;
}
H1 {
    font-size: 48px;
}
h2{
    font-size: var(--texte-size-md);
}
.chapter h2 {
    font-size: var(--texte-size-xl);
}

main{
    width: 100%;
    margin: 0;
    position: absolute;
    top:80px;
}


@media only screen and (max-width:580px) {
    H1{
        font-size: 1em;
    }
    H2{
        font-size: 0.7em;
    }
    .chapter h2 {
        font-size: var(--texte-size-md);
    }
}